<!DOCTYPE html>
<html>
<head>
    <title>Get City</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container">
        <h2>City Weather</h2>
        <form id="usernameForm" action="/output" method="POST">
            <div class="form-group">
                <label for="city">City:</label>
                <input type="text" id="city" name="city" placeholder="Enter city name">
            </div>
            <button class="btn" type="submit">Get Weather</button>
           
        </form>
        
      
    </div>
       
        
  
     
</body>
</html>
